<h1 *ngIf="isAddMode">Add Subscription</h1>
<h1 *ngIf="!isAddMode">Edit Subscription</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
	<div class="form-row">
		<input type="hidden" formControlName="_id" />
		<div class="form-group col">
			<label for="username">User</label>
			<input type="text" formControlName="username" class="form-control"
				[ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
		</div>
		<div class="form-group col">
			<div class="form-group col">
				<label for="device">Device Id</label>
				<input type="text" formControlName="device" class="form-control"
					[ngClass]="{ 'is-invalid': submitted && f.device.errors }" />
			</div>
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col">
			<label for="product">Product</label>
			<input type="text" formControlName="product" class="form-control"
				[ngClass]="{ 'is-invalid': submitted && f.product.errors }" />
		</div>
		<div class="form-group col">
			<div class="form-group col">
				<label for="duration">Duration</label>
				<input type="text" formControlName="duration" class="form-control"
					[ngClass]="{ 'is-invalid': submitted && f.duration.errors }" />
			</div>
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col">
			<label for="status">Status</label>
			<input type="text" formControlName="status" class="form-control"
				[ngClass]="{ 'is-invalid': submitted && f.status.errors }" />
		</div>
		<div class="form-group col">
			<label for="comment">Comment</label>
			<input type="text" formControlName="comment" class="form-control"
				[ngClass]="{ 'is-invalid': submitted && f.comment.errors }" />
			<div *ngIf="submitted && f.comment.errors" class="invalid-feedback">
				<div *ngIf="f.comment.errors.required">Comment is required</div>
			</div>
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col">
			<label for="activation_code">Activation Code</label>
			<input type="text" formControlName="activation_code" class="form-control"
				[ngClass]="{ 'is-invalid': submitted && f.activation_code.errors }" />
		</div>
	</div>
	<div class="form-group">
		<button [disabled]="loading" class="btn btn-primary">
			<span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
			Save
		</button>
		<a routerLink="/subscription" class="btn btn-link">Cancel</a>
	</div>
</form>