<h1 *ngIf="isAddMode">Add File</h1>
<h1 *ngIf="!isAddMode">Edit File</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
	<div class="form-row">
		<input type="hidden" formControlName="_id" />
		<div class="form-group col">
			<label for="name">Name</label>
			<input type="text" formControlName="name" class="form-control"
				[ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
			<div *ngIf="submitted && f.name.errors" class="invalid-feedback">
				<div *ngIf="f.name.errors.required">Name is required</div>
			</div>
		</div>
		<div class="form-group col">
			<label for="products">Products using this file.</label>
			<select multiple formControlName="products" class="form-control"
				[ngClass]="{ 'is-invalid': submitted && f.products.errors }" size="5">
				<option *ngFor="let product of products" [ngValue]="product._id">
					{{ product.name }}
				 </option>
			</select>
			<div *ngIf="submitted && f.products.errors" class="invalid-feedback">
				<div *ngIf="f.products.errors.required">Cover Image is required</div>
			</div>
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col">
			<label for="comment">Comment</label>
			<input type="text" formControlName="comment" class="form-control"
				[ngClass]="{ 'is-invalid': submitted && f.comment.errors }" />
			<div *ngIf="submitted && f.comment.errors" class="invalid-feedback">
				<div *ngIf="f.comment.errors.required">Comment is required</div>
			</div>
		</div>
	</div>
	<div class="form-group">
		<button [disabled]="loading" class="btn btn-primary">
			<span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
			Save
		</button>
		<a routerLink="/file" class="btn btn-link">Cancel</a>
	</div>
</form>