<footer class="footer">
	<div class="container-fluid">
		<nav class="pull-left">
			<ul>
				<li>
					<a href="{{utils.FRONTEND_URL}}">
						{{utils.BRAND}}
					</a>
				</li>
				<li>
					<a href="{{utils.FRONTEND_URL}}">
						Blog
					</a>
				</li>
				<li>
					<a href="{{utils.FRONTEND_URL}}/license">
						Licenses
					</a>
				</li>
			</ul>
		</nav>
		<div class="copyright pull-right">
			&copy; {{copyright | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by <a
				href="{{utils.BRAND}}">{{utils.BRAND}}</a>
		</div>
	</div>
</footer>